<!-- Permet d'hériter de base.html -->
{% extends "skillsPassion.html" %}
<!-- Defini dans le base html et permet de mettre le code au bon endroit-->
{# TODO skillsPassion html #}
{% block content_skillsPassion %}

    <title> GN </title>

    {# Todo -> Construire la structure de la page #}
    <div class="skillsPassion_GN_cls">
        <p> Ici les éléments lié au GN</p>
    </div>
    <div class="skillsPassion_TDC_cls">
        <p> Ici les élements du travail du cuir</p>
    </div>

{% endblock %}