<!-- Permet d'hériter de base.html -->
{% extends "skillsPassion.html" %}
<!-- Defini dans le base html et permet de mettre le code au bon endroit-->
{# TODO skillsPassion html #}
{% block content_skillsPassion %}

    <title> Jdr / Jeux de société </title>

    {# Todo -> Construire la structure de la page #}
    <div class="skillsPassion_Jdr_cls">
        <p> Ici les éléments sur les différents jdr joués </p>
    </div>
    <div class="skillsPassion_JeuxSociete_cls">
        <p> Ici les éléments sur les jeux de société </p>
    </div>

{% endblock %}