{% extends "base.html" %}

{% block app_content %}

    <title> Apps </title>
    <div class="container">
        <div class="body-wrapper">
            <h1 class="center-text"> Applications </h1>
            <div class="cards-wrapper">
                {% for app in app_list %}
                    <div class="card-wrapper">
                        <div class="card">
                            <img class="card-img-top" src="{{ app.miniature }}" alt="Application :{{ app.name }} miniature">
                            <div class="card-body">
                                <h5 class="card-title">{{ app.name }}</h5>
                                <p class="card-text">{{ app.quick_description }}</p>
                            </div>
                            <div class="card-body-link">
                                <a href="{{ app.url }}" class="card-link">Détails</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}