{% extends 'bootstrap/base.html' %}

{% block html_attribs %}
    lang="en"
{% endblock %}
{% block head %}
    {{ super() }}

    {% block favicon %}<!-- default favicon could go here -->{% endblock %}

    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
    {% endblock %}
{% endblock %}

{% block title %}
    Vahen
{% endblock %}

{% block navbar %}
    {% include "include/navbar.html" %}
{% endblock %}

{% block content %}
    {{ super() }}
    {% block app_content %}{% endblock %}
    {% block footer %}
        {% include "include/footer.html" %}
    {% endblock %}
{% endblock %}