{% extends 'bootstrap/base.html' %}

{% block html_attribs %}
    lang="en"
{% endblock %}
{% block head %}
    {{ super() }}

    {% block favicon %}<!-- default favicon could go here -->{% endblock %}

    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}

    {% block scripts %}
        {{ super() }}
        {#        <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>#}
        {#        <script>#}
        {#            $(document).ready(function () {#}
        {#                $('a').click(function () {#}
        {#                    $('a').removeClass("current");#}
        {#                    $(this).addClass("current");#}
        {#                });#}
        {#            });#}
        {#        </script>#}
    {% endblock %}
{% endblock %}

{% block title %}
    Vahen
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="body-content">
        {% block app_content %}{% endblock %}
    </div>

    <div class="footer-content">
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
    </div>

{% endblock %}