{% extends 'bootstrap/base.html' %}

{% block html_attribs %}
    lang="en"
{% endblock %}
{% block head %}
    {{ super() }}

    {#    {% block favicon %}<!-- default favicon could go here -->{% endblock %}#}
    {% block scripts %}
        {{ super() }}
        {#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
        {#        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>#}
        {#        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>#}
    {% endblock %}
    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}


{% endblock %}

{% block title %}
    Vahen
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="body-content">
        {% block app_content %}{% endblock %}
    </div>

    <div class="footer-content">
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
    </div>

{% endblock %}