<!-- Permet d'hériter de base.html -->
{% extends "base.html" %}
<!-- Defini dans le base html et permet de mettre le code au bon endroit-->
{# TODO contact html #}
{% block content %}

    <title> Contact </title>

    <div class="row centered">
        <div class="icone-largeur-4">
            <a href="https://www.linkedin.com/in/christopher-p-ba152a11a/" target="_blank">
                <img src="/static/img/icones/icone_linkedin.png" class="icone-linkedin" alt="icone_linkedin"/>
            </a>
        </div>

        <div class="icone-largeur-4">
            <p class="text-icone-largeur-4"> pico.christopher.pro@gmail.com </p>
            <a href="mailto:pico.christopher.pro@gmail.com">
                <img src="/static/img/icones/icone_enveloppe.png" class="icone-envelope" alt="icone_enveloppe"/>
            </a>
        </div>

        <div class="icone-largeur-4">
            <p class="text-icone-largeur-4"> Lixiana#1130 </p>
            <img src="/static/img/icones/icone_discord.png" class="icone-discord" alt="icone_discord"/>
        </div>
    </div>

{% endblock %}