<!-- Permet d'hériter de base.html -->
{% extends "base.html" %}
<!-- Defini dans le base html et permet de mettre le code au bon endroit-->
{% block content %}
    <title> Contact </title>

    {# Todo -> Construire la structure de la page #}
    <div class="page_title zone">
        <p>
            pico.christopher.pro@gmail.com
        </p>
    </div>
    <div class="Presentation">

    </div>
    <div class="Skills">
        {# Todo -> Faire la liste des skills avec les images et nom nécessaire#}
        <div class="padding_maker">
            <img class="skill-image rounded float-center" src="{% static 'img/skills/cpp.png' %}">
            <h4>C++</h4>
        </div>
        <div class="padding_maker">
            <img class="skill-image rounded float-center" src="{% static 'img/skills/python.png' %}">
            <h4>Python</h4>
        </div>
    </div>
{% endblock %}