<!-- Permet d'hériter de base.html -->
{% extends "base.html" %}
<!-- Defini dans le base html et permet de mettre le code au bon endroit-->
{% block app_content %}
    <title> Présentation </title>

    <div class="container ">
        <div class="body-wrapper">
            <div class="centered mt mb">
                <h1>Presentation</h1>
                <div>todo</div>
            </div>

            <h2>Skills</h2>

            <div class="skill-parent">
                <div class="padding_maker">
                    <div class="skill-children">
                        <img class="skill-image rounded float-center"
                             src="{{ url_for('static',filename='img/skills/cpp.png') }}" alt="cppImg">
                        <h4>C++</h4>
                    </div>
                </div>
                <div class="padding_maker">
                    <div class="children">
                        <img class="skill-image rounded float-center"
                             src="{{ url_for('static',filename='img/skills/python.png') }}" alt="pythonImg">
                        <h4>Python</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}