<!-- Permet d'hériter de base.html -->
{% extends "base.html" %}
<!-- Defini dans le base html et permet de mettre le code au bon endroit-->
{% block app_content %}
    <title> Présentation </title>

    <div class="container ">
        <div class="body-wrapper">
            <div class="presentation">
                <h1 class="presentation-title">Presentation</h1>
                <div class="presentation-txt">todo</div>
            </div>

            <h2>Compétences</h2>

            <div class="skills-parent">

                <div class="padding_maker">
                    <div class="skill-children">
                        <img class="skill-image rounded float-center"
                             src="{{ url_for('static',filename='img/skills/python.png') }}" alt="Python icone">
                        <h4 class="skill-image-txt">Python</h4>
                    </div>
                </div>


                <div class="padding_maker">
                    <div class="skill-children">
                        <img class="skill-image rounded float-center"
                             src="{{ url_for('static',filename='img/skills/flask.png') }}" alt="Flask icone">
                        <h4 class="skill-image-txt">Flask</h4>
                    </div>
                </div>

                <div class="padding_maker">
                    <div class="skill-children">
                        <img class="skill-image rounded float-center"
                             src="{{ url_for('static',filename='img/skills/cpp.png') }}" alt="C++ icone">
                        <h4 class="skill-image-txt">C++</h4>
                    </div>
                </div>

                <div class="padding_maker">
                    <div class="skill-children">
                        <img class="skill-image rounded float-center"
                             src="{{ url_for('static',filename='img/skills/c#.png') }}" alt="C# icone">
                        <h4 class="skill-image-txt">C#</h4>
                    </div>
                </div>

                <div class="padding_maker">
                    <div class="skill-children">
                        <img class="skill-image rounded float-center"
                             src="{{ url_for('static',filename='img/skills/unity_small.png') }}" alt="Unity icone">
                        <h4 class="skill-image-txt">Unity</h4>
                    </div>
                </div>

                <div class="padding_maker">
                    <div class="skill-children">
                        <img class="skill-image rounded float-center"
                             src="{{ url_for('static',filename='img/skills/java_2.png') }}" alt="Java icone">
                        <h4 class="skill-image-txt">Java</h4>
                    </div>
                </div>

                {#                <div class="padding_maker">#}
                {#                    <div class="skill-children">#}
                {#                        <img class="skill-image rounded float-center"#}
                {#                             src="{{ url_for('static',filename='img/skills/mysql.png') }}" alt="MySQL icone">#}
                {#                        <h4>MySQL</h4>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}