<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index_bp.index') }}">Vahen</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="menu-element"><a href="{{ url_for('index_bp.index') }}">Home</a></li>
                <li class="dropdown menu-element">
                    <a href="{{ url_for('portfolio_bp.portfolio') }}" class="dropdown-head">Portfolio
                        <span class="caret mobile-hidden"></span>
                    </a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('portfolio_bp.portfolio_site_perso') }}">Site personnel</a>
                        <a href="{{ url_for('portfolio_bp.portfolio_runner') }}">Runner</a>
                        <a href="{{ url_for('portfolio_bp.portfolio_webcrawler') }}">WebCrawler</a>
                        <a href="{{ url_for('portfolio_bp.portfolio_pacman3d') }}">Pacmand3D</a>
                        <a href="{{ url_for('portfolio_bp.portfolio_raytracer') }}">Raytracer</a>
                        <a href="{{ url_for('portfolio_bp.portfolio_plateforme_game') }}">Platform Game</a>
                    </div>
                </li>
                <li class="dropdown menu-element">
                    <a href="{{ url_for('skills_passion_bp.skills_passion') }}" class="dropdown-head">Skills/Passions
                        <span class="caret mobile-hidden"></span>
                    </a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('skills_passion_bp.skills_passion_gn') }}">GN</a>
                        <a href="{{ url_for('skills_passion_bp.skills_passion_travail_du_cuir') }}">Travail du cuir</a>
                        <a href="{{ url_for('skills_passion_bp.skills_passion_jeux_de_societe') }}">Jeux de société</a>
                        <a href="{{ url_for('skills_passion_bp.skills_passion_jeux_de_role') }}">Jeux de rôle</a>
                        <a href="{{ url_for('skills_passion_bp.skills_passion_serveur_multimedia') }}">Serveur Multimedia</a>
                    </div>
                </li>
                <li class="menu-element"><a href="{{ url_for('static',filename='pdf/CV_PicoChristopher_lightV4.pdf') }}">CV</a></li>
                <li class="menu-element"><a href="{{ url_for('contact_bp.contact') }}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>