{% extends "base.html" %}

{% block app_content %}

    <title> Portfolio </title>
    {# TODO Portfolio html #}
    <div class="container">
        <!-- Boucle avec Jinja -->
        {% for project in projects %}
            <div class="project_cls">
                {# Todo -> Voir comment rajouter les projets ici #}
                {#  Faire une mini description / présentation des projets ici       #}
            </div>
        {% endfor %}

        <div class="icone-largeur-4">
            <a href="https://github.com/Vahen" target="_blank">
                <i class="icone-github"></i>
            </a>
        </div>
    </div>

{% endblock %}