<!-- Permet d'hériter de base.html -->
{% extends "base.html" %}
<!-- Defini dans le base html et permet de mettre le code au bon endroit-->
{# TODO Projects html #}
{% block content %}

    <title> Portfolio </title>
    <!-- Boucle avec Jinja -->
    {% for project in projects %}
        <div class="project_cls">
            {# Todo -> Voir comment rajouter les projets ici #}
        </div>
    {% endfor %}

    <div class="icone-largeur-4">
        <a href="https://github.com/Vahen" target="_blank">
            <i class="icone-github"></i>
        </a>
    </div>

{% endblock %}