{% extends "base.html" %}

{% block app_content %}

    <title> GN </title>

    <div class="container">
        <div class="body-wrapper">
            <h1 class="center-text"> GN </h1>
            {# Todo -> Rajouter le contenu sur le GN #}
            <div class="skillsPassion_GN_cls">
                {#                <p> Todo décrire le GN + mettre image </p>#}
                {#                <p> Gn, ou Grandeur nature est le diminutif de Jeux de role grandeur nature, dans </p>#}
            </div>
        </div>
    </div>

{% endblock %}