{% extends "base.html" %}

{% block app_content %}

    <title> GN </title>

    <div class="container">
        <div class="body-wrapper">
            <h4> Mes réalisations </h4>
            <div class="cards-gallery-wrapper">

                <div class="card-gallery-wrapper">
                    <div class="card-gallery">
                        <img class="card-gallery-img-top" src="{{ url_for('static',filename='img/tdc/D20_cuir.png') }}"
                             alt="Hearthstone miniature">
                        {#                            <div class="card-gallery-body hidden">#}
                        {#                                <h5 class="card-gallery-title">D20 cuir</h5>#}
                        {#                            </div>#}
                    </div>
                </div>

                <div class="card-gallery-wrapper">
                    <div class="card-gallery">
                        <img class="card-gallery-img-top" src="{{ url_for('static',filename='img/tdc/hache_cuir_granule.png') }}"
                             alt="Hache cuir granule miniature">
                    </div>
                </div>

                <div class="card-gallery-wrapper">
                    <div class="card-gallery">
                        <img class="card-gallery-img-top" src="{{ url_for('static',filename='img/tdc/livre_cuir.png') }}"
                             alt="Hache cuir granule miniature">
                    </div>
                </div>

                <div class="card-gallery-wrapper">
                    <div class="card-gallery">
                        <img class="card-gallery-img-top" src="{{ url_for('static',filename='img/tdc/rune_naine_cuir.png') }}"
                             alt="Hache cuir granule miniature">
                    </div>
                </div>

                <div class="card-gallery-wrapper">
                    <div class="card-gallery">
                        <img class="card-gallery-img-top" src="{{ url_for('static',filename='img/tdc/serpent_cuir.png') }}"
                             alt="Hache cuir granule miniature">
                    </div>
                </div>

                <div class="card-gallery-wrapper">
                    <div class="card-gallery">
                        <img class="card-gallery-img-top" src="{{ url_for('static',filename='img/tdc/serpent_teinture_cuir.png') }}"
                             alt="Serpent teinture cuir  granule miniature">
                    </div>
                </div>

                <div class="card-gallery-wrapper">
                    <div class="card-gallery">
                        <img class="card-gallery-img-top" src="{{ url_for('static',filename='img/tdc/spider_cuir.png') }}"
                             alt="Spider cuir miniature">
                    </div>
                </div>

                <div class="card-gallery-wrapper">
                    <div class="card-gallery">
                        <img class="card-gallery-img-top" src="{{ url_for('static',filename='img/tdc/triple_motif_cuir.png') }}"
                             alt="Triple motif cuir granule miniature">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}