{% extends "base.html" %}

{% block app_content %}

    <title> Portfolio </title>
    {# TODO Portfolio html #}
    <div class="container">
        <div class="body-wrapper">
            <div class="cards-wrapper">
                <!-- Boucle avec Jinja -->
                {% for project in projects %}
                    <div class="card-wrapper">
                        <div class="card">
                            <img class="card-img-top" src="{{ project.miniature }}" alt="Projet :{{ project.name }} miniature">
                            <div class="card-body">
                                <h5 class="card-title">{{ project.name }}</h5>
                                <p class="card-text">{{ project.quick_description }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Type : {{ project.type }}</li>
                                <li class="list-group-item">Outils : {{ project.outils }}</li>
                            </ul>
                            <div class="card-body-link">
                                <a href="{{ project.url }}" class="card-link">Détails</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}