{% extends "base.html" %}
{% block app_content %}
    <title> Anagramos </title>
    <div class="container">
        <div class="body-wrapper">
            <div class="anagramos">
                <h1 class="center-text"> Anagramos </h1>
                <div class="app-description">
                    <p> Permet de trouver tous les anagrames d'un mot dans une langue donné. </p>
                    <p> Il ne prend pas compte la casse.</p>
                </div>
                <div id="anagramos_post_form_wrapper">
                    <form method="GET"
                          action="{{ url_for("anagramos_bp.anagramos_api") }}"
                          @submit.prevent="postData"
                          id="anagramos_post_form">
                        <div class="form-group">
                            <label for="word-box">Word</label>
                            <input type="text"
                                   name="word"
                                   v-model="word"
                                   class="form-input"
                                   id="word-box"
                                   pattern="(?i)^(?:(?![×Þß÷þø])[-'0-9a-zÀ-ÿ])+$"
                                   placeholder="Enter word..."
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="language_select">Select language
                                <select name="language_select"
                                        v-model="language_select"
                                        required>
                                    <option value="" selected disabled hidden>Choose here</option>
                                    <option value="French">French</option>
                                    <option value="English">English</option>
                                </select>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default submit-button">Submit</button>
                    </form>
                    <button @click="show_results = !show_results" :aria-expanded="show_results ? 'true' : 'false'">Display results</button>
                    <div class="anagramos-results" v-if="show_results">
                        <p v-if="request_done"> Anagrames of "<% word %>" in "<% language_select %>" </p>
                        <p v-else>No data to display, submit data to the server first </p>
                        <ul>
                            <li v-for="result in response_data">
                                <% result %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="{{ url_for('static',filename="apps/anagramos/scripts/anagramos.js") }}"></script>
{% endblock %}