<!-- Permet d'hériter de base.html -->
{% extends "base.html" %}

{% block app_content %}

    <title> Anagramos </title>

    <div class="container">
        <div class="body-wrapper">
            <div class="anagramos">
                <h1 class="center-text"> Anagramos </h1>
                <div class="app-description">
                    <p> Permet de trouver tous les anagrames d'un mot dans une langue donné. </p>
                    <p> Il ne prend pas compte la casse.</p>
                </div>
                <div class="anagramos-request-form">
                    <form method="POST" action="{{ url_for("anagramos_bp.anagramos") }}" id="anagramos_post_form">
                        <div class="form-group">
                            <label for="word-box">Word</label>
                            <input type="text"
                                   name="word"
                                   class="form-input"
                                   id="word-box"
                                   pattern="(?i)^(?:(?![×Þß÷þø])[-'0-9a-zÀ-ÿ])+$"
                                   placeholder="Enter word..." required>
                        </div>
                        <div class="form-group">

                            <label for="language-select">Select language
                                <select name="language-select">
                                    <option value="French">French</option>
                                    <option value="English">English</option>
                                </select>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default submit-button">Submit</button>
                    </form>
                </div>
                <div class="anagramos-results hidden">
                    <div class="anagramos-results-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% assets "anagramos_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}