{% extends "base.html" %}

{% block app_content %}

    <title> Serveur multimedia </title>

    <div class="container">
        <div class="body-wrapper">

            <div class="skillsPassion_serveurMultimedia_cls">
                {# Todo -> Ajouter une photo du serveur, finir la description    #}
                <p>
                    Todo - Un serveur multimedia monté à partir d'une ancienne machine
                </p>
                <p>
                    Le site que vous visionnez actuellement est hebergé par cette machine via un conteneur docker
                </p>
            </div>
        </div>
    </div>

{% endblock %}