<!-- Permet d'hériter de base.html -->
{% extends "base.html" %}
<!-- Defini dans le base html et permet de mettre le code au bon endroit-->
{% block app_content %}
    <title> Présentation </title>

    <div class="container ">
        <div class="body-wrapper">
            <div class="presentation center-text">
                <h1>Christopher Pico</h1>
                <h1 class="presentation-title">Developpeur Full Stack Python</h1>
            </div>

            <div class="center-text">
                <div class="icone-container">
                    <div class="icone-child-wrapper">
                        <a href="https://www.linkedin.com/in/christopher-pico-vahen/">
                            <div class="icone-child">
                                <img src="{{ url_for('static',filename='general/img/icones/icone_linkedin_80.png') }}"
                                     class="icone"
                                     alt="icone_linkedin"/>
                                <p class="icone-text">christopher-pico-vahen</p>
                            </div>
                        </a>

                    </div>

                    <div class="icone-child-wrapper">
                        <div class="icone-child">
                            <img src="{{ url_for('static',filename='general/img/icones/icone_enveloppe.png') }}"
                                 class="icone"
                                 alt="icone_enveloppe"/>
                            <p class="icone-text"> pico.christopher.pro@gmail.com </p>
                        </div>
                    </div>

                    {#                    <div class="icone-child-wrapper">#}
                    {#                        <div class="icone-child">#}
                    {#                            <img src="{{ url_for('static',filename='img/icones/icone_discord.png') }}" class="icone"#}
                    {#                                 alt="icone_discord"/>#}
                    {#                            <p class="icone-text">  </p>#}
{#                        </div>#}
{#                    </div>#}
                </div>

            </div>


            <div class="competence-index">
                <div class="index-title center-text">
                    <h2>Compétences</h2>
                </div>
                <div class="skills-parent">
                    {% for skill in skills %}
                        <div class="skill-children">
                            <div class="skill-image-container">
                                <img class="skill-image" src="{{ skill.img_url }}" alt="{{ skill.img_alt }}">
                            </div>
                            <h4 class="skill-image-txt">{{ skill.name }}</h4>
                        </div>
                    {% endfor %}
                </div>
            </div>


            <div class="portfolio-index">
                <div class="index-title center-text">
                    <h2>Projets principaux</h2>
                </div>
                <div class="cards-wrapper">
                    {% for project in projectList %}
                        <div class="card-wrapper">
                            <div class="card">
                                <img class="card-img-top" src="{{ project.miniature }}" alt="Projet :{{ project.name }} miniature">
                                <div class="card-body">
                                    <h5 class="card-title">{{ project.name }}</h5>
                                    <p class="card-text">{{ project.quick_description }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Type : {{ project.type }}</li>
                                    <li class="list-group-item">Outils : {{ project.outils }}</li>
                                </ul>
                                <div class="card-body-link">
                                    <a href="{{ project.url }}" class="card-link">Détails</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


            <div class="passions-index">
                <div class="center-text">
                    <h2>Passions</h2>
                </div>
                <div class="cards-wrapper">
                    {% for sp in passionsList %}
                        <div class="card-wrapper">
                            <div class="card">
                                <img class="card-img-top" src="{{ sp.miniature }}" alt="Projet :{{ sp.name }} miniature">
                                <div class="card-body">
                                    <h5 class="card-title">{{ sp.name }}</h5>
                                </div>
                                <div class="card-body-link">
                                    <a href="{{ sp.url }}" class="card-link">Détails</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}