<!-- Permet d'hériter de base.html -->
{% extends "base.html" %}

{% block app_content %}

    <title> Plateforme Game </title>
    <div class="container">
        <div class="body-wrapper">
            {% with project_name="Plateforme Game",
                    project_link="https://github.com/Vahen/PlatformGame" %}
                {% include "project_header.html" %}
            {% endwith %}

            <h3 class="center-text"> Description </h3>
            <div class="portfolio-project-description">
                <p> Ce projet a eu pour but de m'entrainer à utiliser le moteur de jeux Unity et de réaliser un jeu simple
                    à l'aide du tutoriel sur openclassroom. </p>
                <p> Il s'agit de jeu de plateforme en 3D, il faut arriver à la fin du niveau en un minimum de temps et de morts. </p>
                <p> Un executable est disponible pour windows sur ce lien :
                    <a href="https://github.com/Vahen/PlatformGame/blob/master/Releases/Windows/Level_1_v0.3.zip"> PlatformGame_Windows </a>
                </p>
                <p> Projet personnel </p>
            </div>

            {% if skills_back %}
                <h3 class="center-text"> Back-End </h3>
                <div class="skills-parent">
                    {% for skill in skills_back %}
                        <div class="skill-children">
                            <div class="skill-image-container">
                                <img class="skill-image" src="{{ skill.img_url }}" alt="{{ skill.img_alt }}">
                            </div>
                            <h4 class="skill-image-txt">{{ skill.name }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if skills_front %}
                <h3 class="center-text"> Front-End </h3>
                <div class="skills-parent">
                    {% for skill in skills_front %}
                        <div class="skill-children">
                            <div class="skill-image-container">
                                <img class="skill-image" src="{{ skill.img_url }}" alt="{{ skill.img_alt }}">
                            </div>
                            <h4 class="skill-image-txt">{{ skill.name }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}