<!-- Permet d'hériter de base.html -->
{% extends "base.html" %}

{% block app_content %}

    <title> String To 1337 </title>

    <div class="container">
        <div class="body-wrapper">
            <div class="stringToLeet">
                <h1 class="center-text">String To 1337</h1>
                <div class="app-description">
                    <p>Traducteur de texte vers du leet speak.</p>
                    <p>Etant donné qu'il y a plusieurs manières d'écrire une lettre en leet, le texte de sortie sera
                        toujours différent à
                        chaque essai.</p>
                </div>
                <div id="string_to_leet_post_form_wrapper">
                    <form method="GET"
                          action="{{ url_for("string_to_leet_bp.string_to_leet_api") }}"
                          @submit.prevent="postData"
                          id="string_to_leet_post_form">
                        <div class="form-group">
                            <label for="word-box">Word</label>
                            <input type="text"
                                   name="phrase"
                                   v-model="phrase"
                                   class="form-input"
                                   id="word-box"
                                   pattern="[a-zA-Z]+"
                                   placeholder="Enter word or a phrase to translate..." required>
                        </div>
                        <button type="submit" class="btn btn-default submit-button">Translate</button>
                    </form>
                    <button @click="show_results = !show_results" :aria-expanded="show_results ? 'true' : 'false'">Display results</button>
                    <div class="stringToLeet-results" v-if="show_results">
                        <p v-if="request_done"> Translation of "<% phrase %>" in leet </p>
                        <p v-else>No data to display, submit data to the server first </p>
                        <p> Original : <% phrase %> </p>
                        <p> Traduction to leet : <% response_data %> </p>
                    </div>
{#                    Todo -> Remettre quand le css sera mieux#}
{#                    <h3> History </h3>#}
{#                    <div class="stringToLeet_history">#}
{#                        <div v-for="data in data_history">#}
{#                            <div class="stringToLeet_history_data_wrapper">#}
{#                                <div class="column"> <% data.original %> </div>#}
{#                                <div class="column"> <% data.translation %> </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
    {% assets "string_to_leet_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}