<!-- Permet d'hériter de base.html -->
{% extends "base.html" %}

{% block app_content %}

    <title> Pacman 3D </title>
    <div class="container">
        <div class="body-wrapper">
            {% with project_name="Pacman3D",
                    project_description="Un pacman C++11 avec la SDL1.2 et OpengGL3+ et CMake",
                    project_link="https://github.com/Vahen/PacMan3D" %}
                {% include "project_header.html" %}
            {% endwith %}

            <h3 class="center-text"> Description </h3>
            <p class="portfolio-project-description center-text"></p>

            {% if skills_back %}
                <h3 class="center-text"> Back-End </h3>
                <div class="techno-utilise-backend">
                    <div class="skills-parent">
                        {% for skill in skills_back %}
                            <div class="skill-children">
                                <div class="skill-image-container">
                                    <img class="skill-image" src="{{ skill.img_url }}" alt="{{ skill.img_alt }}">
                                </div>
                                <h4 class="skill-image-txt">{{ skill.name }}</h4>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if skills_front %}
                <h3 class="center-text"> Front-End </h3>
                <div class="techno-utilise-frontend">
                    <div class="skills-parent">
                        {% for skill in skills_front %}
                            <div class="skill-children">
                                <div class="skill-image-container">
                                    <img class="skill-image" src="{{ skill.img_url }}" alt="{{ skill.img_alt }}">
                                </div>
                                <h4 class="skill-image-txt">{{ skill.name }}</h4>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}