<!-- Permet d'hériter de base.html -->
{% extends "base.html" %}

{% block app_content %}

    <title> Pacman 3D </title>
    <div class="container">
        <div class="body-wrapper">
            {% with project_name="Pacman3D",
                    project_description="Un pacman C++11 avec la SDL1.2, OpengGL3+ et CMake",
                    project_link="https://github.com/Vahen/PacMan3D" %}
                {% include "project_header.html" %}
            {% endwith %}

            <h3 class="center-text"> Description </h3>
            <div class="portfolio-project-description">
                <p> Le but de ce projet était de developper un pacman en 3D
                    à l'aide d'openGL 3 et de la SDL 1.2, en C++ 11. </p>
                <p> Il utilise les bibliothèques suivantes en plus d'openGL et la SDL: </p>
                <div class="biblio-list-wrapper">
                    <ul>
                        <li>Assimp : Pour l'import des modèles 3D</li>
                        <li>Freetype : Pour le texte affiché en jeu</li>
                        <li>JSON for C++ : Pour gérer le format json facilement</li>
                    </ul>
                </div>

                <p> Le projet utilise également python pour la génération du niveau au format json. </p>
                <p> Equipe de 3 développeurs </p>
                <p> Un executable est disponible sur le lien suivant :
                    <a href="https://github.com/Vahen/PacMan3D/blob/master/Pacman3DLivrableWindows.zip"> Pacman3D Windows </a>.
                </p>
            </div>

            {% if skills_back %}
                <h3 class="center-text"> Back-End </h3>
                <div class="skills-parent">
                    {% for skill in skills_back %}
                        <div class="skill-children">
                            <div class="skill-image-container">
                                <img class="skill-image" src="{{ skill.img_url }}" alt="{{ skill.img_alt }}">
                            </div>
                            <h4 class="skill-image-txt">{{ skill.name }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if skills_front %}
                <h3 class="center-text"> Front-End </h3>
                <div class="skills-parent">
                    {% for skill in skills_front %}
                        <div class="skill-children">
                            <div class="skill-image-container">
                                <img class="skill-image" src="{{ skill.img_url }}" alt="{{ skill.img_alt }}">
                            </div>
                            <h4 class="skill-image-txt">{{ skill.name }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}