<!-- Permet d'hériter de base.html -->
{% extends "base.html" %}

{% block app_content %}

    <title> Runner </title>

    <div class="container">
        <div class="body-wrapper">
            <h3 class="center-text"> Technologies Utilisé </h3>
            <div class="skills-parent">
                <div class="skill-children">
                    <img class="skill-image rounded float-center"
                         src="{{ url_for('static',filename='img/skills/unity_clean.png') }}" alt="Unity icone">
                    <h4 class="skill-image-txt">Unity</h4>
                </div>
                <div class="skill-children">
                    <img class="skill-image rounded float-center"
                         src="{{ url_for('static',filename='img/skills/c#.png') }}" alt="C# icone">
                    <h4 class="skill-image-txt">C# </h4>
                </div>
                <div class="skill-children">
                    <img class="skill-image rounded float-center"
                         src="{{ url_for('static',filename='img/skills/python.png') }}" alt="Python icone">
                    <h4 class="skill-image-txt">Python</h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}