<!-- Permet d'hériter de base.html -->
{% extends "base.html" %}

{% block app_content %}

    <title> Webcrawler </title>
    <div class="container">
        <div class="body-wrapper">
            {% with project_name="String to Leet" ,
                app_page=url_for('string_to_leet_bp.string_to_leet') %}
                {% include "project_header.html" %}
            {% endwith %}

            <h3 class="center-text"> Description </h3>
            <div class="portfolio-project-description">
                <p class="center-text"> Traducteur de texte vers du leet speak </p>
            </div>


            {% if skills_back %}
                <h3 class="center-text"> Back-End </h3>
                <div class="skills-parent">
                    {% for skill in skills_back %}
                        <div class="skill-children">
                            <div class="skill-image-container">
                                <img class="skill-image" src="{{ skill.img_url }}" alt="{{ skill.img_alt }}">
                            </div>
                            <h4 class="skill-image-txt">{{ skill.name }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if skills_front %}
                <h3 class="center-text"> Front-End </h3>
                <div class="skills-parent">
                    {% for skill in skills_front %}
                        <div class="skill-children">
                            <div class="skill-image-container">
                                <img class="skill-image" src="{{ skill.img_url }}" alt="{{ skill.img_alt }}">
                            </div>
                            <h4 class="skill-image-txt">{{ skill.name }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}